html {
    background-color: #1C1C1A;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-size: .85em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.clear {
    clear: both;
}

#main {
    width: 1450px;
    margin: 50px auto;
}

#content {
    width: 1000px;
    margin: auto;
}

#header {
    width: 1000px;
}

#container {
    min-height: 660px;
    background-color: #fff;
    display: inline-block;
}

#logo {
    width: 225px;
    height: 130px;
    background: url('Images/logo.png') no-repeat left top;
    float: left;
}

    #logo a {
        display: block;
        width: 225px;
        height: 130px;
    }

        #logo a:hover {
            background-color: transparent;
        }

#header .advert {
    float: right;
    width: 728px;
    height: 90px;
    margin-top: 20px;
}

#body {
    background-color: #fff;
    color: #000;
    float: left;
    padding: 10px;
    margin: 5px 0 0 0;
    width: 660px;
    min-height: 650px;
    height: 100%;
}

/* TODO: */
.advert {
    border: 3px solid red;
}

#asideLeft {
    width: 175px;
    margin: 180px 0 0 40px;
    float: left;
}

    #asideLeft .advert {
        height: 660px;
    }

#asideRight {
    float: right;
    margin: 180px 20px 0 0;
    width: 195px;
}

    #asideRight .advert {
        height: 660px;
    }

#footer {
    clear: both;
    border-top: 1px solid #1C1C1A;
}

    #footer .advert {
        clear: both;
        width: 730px;
        height: 90px;
        margin: 20px auto;
    }

#hero {
    width: 600px;
}

    #hero sub {
        display: block;
        float: right;
        font-style: italic;
    }

#copyright {
    height: 50px;
    background-color: #eee;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding: 0 10px;
    color: #555;
    width: 1000px;
}

#widgets {
    background-color: #fff;
    float: right;
    width: 300px;
    padding: 10px;
    margin: 5px 0 0 0;
    height: 100%;
}

input.watermark {
    color: #999;
}