@{
    ViewBag.Title = "Home Page";
}

<div id="hero">
    <section>hero</section>
</div>

<div id="content">
    <section>
        <h3>We suggest the following:</h3>
        <p>content</p>
    </section>
</div>

<div id="widgets">
    <section>
        <div class="widget">
            d & e summary widget
        </div>
        <div class="widget">
            reporting dates widget
        </div>
        <div class="widget">
            dividends paid widget
        </div>
        <div class="widget">
            market summary widget
        </div>
        <div class="advert">advert</div>
    </section>

</div>

<div id="features">
    <section>
        <div id="secondaryNav">
            <nav role="navigation">
                <ul role="menu">
                    <li role="menuitem"><a href="#" title="Blog Posts" role="link">Blog Posts</a></li>
                    <li role="menuitem"><a href="#" title="Finance" role="link">Finance</a></li>
                    <li role="menuitem"><a href="#" title="Markets Review" role="link">Markets Review</a></li>
                    <li role="menuitem"><a href="#" title="Investments" role="link">Investments</a></li>
                    <li role="menuitem"><a href="#" title="Dividends" role="link">Dividends</a></li>
                    <li role="menuitem"><a href="#" title="Shareholdings" role="link">Shareholdings</a></li>
                </ul>
            </nav>
        </div>
        
        <div id="blogSummary">
            <p>content</p>
        </div>
    </section>
</div>
