#main {
    width: 1450px;
    margin: 50px auto;
}

#content {
    width: 1000px;
    margin: auto;
}

#header {
    width: 1000px;
    height: 180px;
}

    #header .advert {
        float: right;
        width: 728px;
        height: 90px;
        margin-top: 30px;
    }

#logo {
    width: 225px;
    height: 130px;
    background: url('Images/logo.png') no-repeat left top;
    float: left;
}

    #logo a {
        display: block;
        width: 225px;
        height: 130px;
    }

        #logo a:hover {
            background-color: transparent;
        }


#container {
    min-height: 660px;
    background-color: #fff;
    display: inline-block;
    width: 1000px;
}

#body {
    background-color: #fff;
    color: #000;
    float: left;
    padding: 10px;
    margin: 5px 0 0 0;
    min-height: 650px;
    height: 100%;
}

#asideLeft {
    width: 160px;
    margin: 180px 0 0 55px;
    float: left;
}

    #asideLeft .advert {
        height: 600px;
    }

#asideRight {
    float: right;
    margin: 180px 50px 0 0;
    width: 160px;
}

    #asideRight .advert {
        height: 600px;
    }

#footer {
    clear: both;
    border-top: 1px solid #1C1C1A;
}

    #footer .advert {
        clear: both;
        width: 468px;
        height: 60px;
        margin: 20px auto;
    }

#hero {
    width: 600px;
}

    #hero sub {
        display: block;
        float: right;
        font-style: italic;
    }

#copyright {
    height: 50px;
    background-color: #eee;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding: 0 10px;
    color: #555;
    width: 1000px;
}

#widgets {
    background-color: #fff;
    float: right;
    width: 360px;
    padding: 10px;
    margin: 5px 0 0 0;
    height: 100%;
}

.widget {
    border-bottom: 3px solid #1c1c1a;
    padding-bottom: 10px;
}

    .widget h3 {
        margin: 5px 0;
        color: #000;
    }

.homecontent {
    width: 600px;
}

.noborder .widget {
    border-bottom: none;
    height: auto;
}
