#mainNav {
    float: left;
    display: block;
    width: 100%;
}

    #mainNav table {
        margin: 0;
        padding: 0;
        height: 50px;
        border-bottom: 5px solid #17A9DA;
        width: 100%;
        border-collapse: collapse;
    }

    #mainNav td {
        margin: 0;
        padding: 0;
        text-align: center;
        height: 40px;
    }

        #mainNav td a {
            color: #fff;
            text-decoration: none;
            font-size: 1.1em;
            display: block;
            margin: 0;
            padding: 15px 0 0 0;
            height: 30px;
        }

            #mainNav td a.active {
                margin-top: -5px;
                background-color: #17A9DA;
            }

            #mainNav td a.home {
                width: 50px;
            }

                #mainNav td a.home img {
                    border: none;
                    margin: -10px 0 0 0;
                }

                #mainNav td a.home:hover img,
                #mainNav td a.home.active img {
                    margin-top: -5px;
                }

            #mainNav td a:active, #mainNav td a:hover {
                background-color: #17A9DA;
                margin-top: -5px;
                height: 35px;
            }

        #mainNav td.home {
            background-color: #333;
            width: 50px;
        }

        #mainNav td.index1 {
            background-color: #555;
        }

        #mainNav td.index2 {
            background-color: #6E6F71;
        }

        #mainNav td.index3 {
            background-color: #7B7C80;
        }

        #mainNav td.index4 {
            background-color: #898A8C;
        }

        #mainNav td.index5 {
            background-color: #96979B;
        }

        #mainNav td.index6 {
            background-color: #a3a3a3;
        }

        #mainNav td.index7 {
            background-color: #b0b0b0;
        }

        #mainNav td.index8 {
            background-color: #bcbcbc;
        }

        #mainNav td.index9 {
            background-color: #cacaca;
        }

        #mainNav td.index10 {
            background-color: #d7d7d7;
        }

        #mainNav td.active {
            background-color: #17A9DA;
        }
