@{
     var tag = Parameter.tag;
    
    var posts = Fat.Umbraco.Data.ArticleRepository.GetByTag(this, tag);

    foreach (var blogPost in posts)
    {
    <div class="article">
        <article>
            <h1 class="title">@blogPost.Title</h1>
            <div>
                <sub class="author">By @blogPost.Author</sub>
                <sub class="date">on @blogPost.Date</sub>
            </div>
            
            @if (!string.IsNullOrEmpty(blogPost.Image))
            {
                <div class="image">
                    <img alt="" src="/imagegen.ashx?width=300&image=@blogPost.Image"/>
                </div>
            }

            <div class="content">@Html.Raw(blogPost.Content)</div>
        </article>
    </div>
    }
}