@using umbraco.MacroEngines

@inherits DynamicNodeContext
@{
    var tag = Model.Tag;

    var posts = Fat.Umbraco.Data.ArticleRepository.GetByTag(this, tag);

    foreach (var blogPost in posts)
    {
    <div class="article">
        <article>
            <a href="/article/@blogPost.Id">
                <h3 class="title">@blogPost.Title</h3>
            </a>
            <div class="content">@Html.Raw(blogPost.Summary)</div>
            <div>
                <sub class="author">By @blogPost.Author</sub>
                <sub class="date">on @blogPost.Date</sub>
            </div>
        </article>
    </div>
    <div class="clear"></div>
    }
}