<div id="stockChart" class="widget">
    <section>
        <h3>Closing Price Last 90 Days</h3>
        <div id="chart"></div>
    </section>
</div>

<script type="text/javascript">
    var fat = fat || {};

    fat.charts = function () { return {}; };

    fat.charts.drawStockChart = function() {
        $.ajax({
            url: '/api/stock/quotes/@HttpContext.Current.Request.QueryString["code"]'
        }).done(function (data) {
            
            // reproject to google format (array of array)
            data = $.map(data, function (value, key) { return [[value.FormattedDate, value.Price]]; });

            var chartData = google.visualization.arrayToDataTable(data, true);
            var chart = new google.visualization.LineChart(document.getElementById('chart'));

            chartData.addColumn('number', 'Price');

            var chartOptions = {
                curveType: 'function',
                width: 600,
                height: 200,
                legend: 'none',
                pointSize: 3,
                colors: ['#17A9DA']
            };
            
            chart.draw(chartData, chartOptions);
        });
    };
    
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(fat.charts.drawStockChart);
</script>
