@using Fat.Umbraco.DocumentTypes
@using Vega.USiteBuilder
@using umbraco.MacroEngines

@inherits DynamicNodeContext
@{
    var quote = Fat.Umbraco.Data.StockRepository.GetLatestQuote(this);

    <div id="stockPrice" class="widget">
        <section>
            <h3>Latest Price</h3>
            @if (quote != null)
            {

                <div class="subheading">
                    <span class="currency">AUD</span>
                    <span class="date">@quote.ClosingDate.ToString("dd MMM yyyy")</span>
                </div>
                <div class="price">
                    @quote.Price
                </div>
            }
            else
            {
                <span>No price information available.</span>
            }
        </section>
    </div>
}
