@using umbraco.MacroEngines
@inherits DynamicNodeContext
<div id="smallChartWidget" class="widget">

    <div id="stockChart">
        <section>
            <h3>Closing Price Last 90 Days</h3>
            <div id="smallchart"></div>
        </section>
    </div>
</div>

<script type="text/javascript">
    var fat = fat || {};

    fat.charts = function () { return {}; };

    fat.charts.drawSmallStockChart = function () {
        $.ajax({
            url: '/api/stock/quotes/@HttpContext.Current.Request.QueryString["code"]'
        }).done(function (data) {

            // reproject to google format (array of array)
            data = $.map(data, function (value, key) { return [[value.FormattedDate, value.Price]]; });

            var chartData = google.visualization.arrayToDataTable(data, true);
            var chart = new google.visualization.LineChart(document.getElementById('smallchart'));

            chartData.addColumn('number', 'Price');

            var chartOptions = {
                curveType: 'function',
                width: 200,
                height: 100,
                legend: 'none',
                chartArea: { left: 0, top: 0, width: '100%', height: '100%' },
                vAxis: { textPosition: 'none', baselineColor: '#fff', gridlines: { count: 2, color: '#fff' } },
                hAxis: { textPosition: 'none' },
                colors: ['#17A9DA']
            };

            chart.draw(chartData, chartOptions);
        });
    };

    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(fat.charts.drawSmallStockChart);
</script>
