<!DOCTYPE root[<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
 

]>
<root id="-1">
  <HomePage id="1048" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-04-10T11:14:59" updateDate="2013-04-10T11:15:20" nodeName="Home" urlName="home" path="-1,1048" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1047">
    <title>Fat Dividends</title>
    <description><![CDATA[Fat Dividends]]></description>
    <content><![CDATA[<p>Fat Dividends</p>]]></content>
    <heroCaption>the hero caption</heroCaption>
  </HomePage>
</root>