<!DOCTYPE root[<!ELEMENT StockDetail ANY>
<!ATTLIST StockDetail id ID #REQUIRED>
<!ELEMENT SearchPage ANY>
<!ATTLIST SearchPage id ID #REQUIRED>
 
<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
<!ELEMENT Folder ANY>
<!ATTLIST Folder id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Item ANY>
<!ATTLIST Item id ID #REQUIRED>
<!ELEMENT LinkItem ANY>
<!ATTLIST LinkItem id ID #REQUIRED>
<!ELEMENT Page ANY>
<!ATTLIST Page id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1048" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-04-10T11:14:59" updateDate="2013-04-14T10:51:31" nodeName="Home" urlName="home" path="-1,1048" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1047">
    <ContentPage id="1052" parentID="1048" level="2" creatorID="0" sortOrder="0" createDate="2013-04-12T09:48:34" updateDate="2013-04-13T21:58:51" nodeName="Dividend Investing" urlName="dividend-investing" path="-1,1048,1052" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1050">
      <title>Dividend Investing</title>
      <description><![CDATA[Dividend Investing]]></description>
      <content><![CDATA[<p class="h1">Dividend Investing</p>
<p>agittis blandit quis, auctor sit amet est. Proin pulvinar ante metus. Morbi dignissim nisi id risus accumsan malesuada. Donec mi velit, viverra at porta non, consequat sed magna. Sed sollicitudin luctus odio at pharetra.</p>
<p>Integer faucibus, ligula nec scelerisque pellentesque, sapien turpis mollis nunc, eget elementum nunc eros egestas dui. Aenean risus tellus, tempus ut tempor a, rutrum id est. Suspendisse potenti. Phasellus et libero diam, at fermentum erat. Praesent vehicula dui in lacus dignissim ac pretium lectus mattis. Nam vestibulum euismod mi quis tristique. Suspendisse sed risus a est condimentum interdum. Nulla ut metus ac dolor placerat adipiscing. Praesent scelerisque, mi euismod cursus eleifend, urna diam rhoncus felis, eu sollicitudin purus magna eu nisi.</p>
<p>Donec convallis, velit et tristique ferme</p>]]></content>
      <keywords />
    </ContentPage>
    <ContentPage id="1053" parentID="1048" level="2" creatorID="0" sortOrder="1" createDate="2013-04-12T09:48:53" updateDate="2013-04-13T21:59:00" nodeName="Investment Calendar" urlName="investment-calendar" path="-1,1048,1053" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1050">
      <title>Investment Calendar</title>
      <description><![CDATA[Investment Calendar]]></description>
      <content><![CDATA[<p class="h1">Investment Calendar</p>
<p>agittis blandit quis, auctor sit amet est. Proin pulvinar ante metus. Morbi dignissim nisi id risus accumsan malesuada. Donec mi velit, viverra at porta non, consequat sed magna. Sed sollicitudin luctus odio at pharetra.</p>
<p>Integer faucibus, ligula nec scelerisque pellentesque, sapien turpis mollis nunc, eget elementum nunc eros egestas dui. Aenean risus tellus, tempus ut tempor a, rutrum id est. Suspendisse potenti. Phasellus et libero diam, at fermentum erat. Praesent vehicula dui in lacus dignissim ac pretium lectus mattis. Nam vestibulum euismod mi quis tristique. Suspendisse sed risus a est condimentum interdum. Nulla ut metus ac dolor placerat adipiscing. Praesent scelerisque, mi euismod cursus eleifend, urna diam rhoncus felis, eu sollicitudin purus magna eu nisi.</p>
<p>Donec convallis, velit et tristique ferme</p>]]></content>
      <keywords />
    </ContentPage>
    <ContentPage id="1054" parentID="1048" level="2" creatorID="0" sortOrder="2" createDate="2013-04-12T09:49:00" updateDate="2013-04-13T21:59:08" nodeName="Earnings Calendar" urlName="earnings-calendar" path="-1,1048,1054" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1050">
      <title>Earnings Calendar</title>
      <description><![CDATA[Earnings Calendar]]></description>
      <content><![CDATA[<p class="h1">Earnings Calendar</p>
<p>agittis blandit quis, auctor sit amet est. Proin pulvinar ante metus. Morbi dignissim nisi id risus accumsan malesuada. Donec mi velit, viverra at porta non, consequat sed magna. Sed sollicitudin luctus odio at pharetra.</p>
<p>Integer faucibus, ligula nec scelerisque pellentesque, sapien turpis mollis nunc, eget elementum nunc eros egestas dui. Aenean risus tellus, tempus ut tempor a, rutrum id est. Suspendisse potenti. Phasellus et libero diam, at fermentum erat. Praesent vehicula dui in lacus dignissim ac pretium lectus mattis. Nam vestibulum euismod mi quis tristique. Suspendisse sed risus a est condimentum interdum. Nulla ut metus ac dolor placerat adipiscing. Praesent scelerisque, mi euismod cursus eleifend, urna diam rhoncus felis, eu sollicitudin purus magna eu nisi.</p>
<p>Donec convallis, velit et tristique ferme</p>]]></content>
      <keywords />
    </ContentPage>
    <ContentPage id="1055" parentID="1048" level="2" creatorID="0" sortOrder="3" createDate="2013-04-12T09:49:11" updateDate="2013-04-13T21:59:23" nodeName="Investment News" urlName="investment-news" path="-1,1048,1055" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1050">
      <title>Investment News</title>
      <description><![CDATA[Investment News]]></description>
      <content><![CDATA[<p class="h1">Investment News</p>
<p>agittis blandit quis, auctor sit amet est. Proin pulvinar ante metus. Morbi dignissim nisi id risus accumsan malesuada. Donec mi velit, viverra at porta non, consequat sed magna. Sed sollicitudin luctus odio at pharetra.</p>
<p>Integer faucibus, ligula nec scelerisque pellentesque, sapien turpis mollis nunc, eget elementum nunc eros egestas dui. Aenean risus tellus, tempus ut tempor a, rutrum id est. Suspendisse potenti. Phasellus et libero diam, at fermentum erat. Praesent vehicula dui in lacus dignissim ac pretium lectus mattis. Nam vestibulum euismod mi quis tristique. Suspendisse sed risus a est condimentum interdum. Nulla ut metus ac dolor placerat adipiscing. Praesent scelerisque, mi euismod cursus eleifend, urna diam rhoncus felis, eu sollicitudin purus magna eu nisi.</p>
<p>Donec convallis, velit et tristique ferme</p>]]></content>
      <keywords />
    </ContentPage>
    <ContentPage id="1069" parentID="1048" level="2" creatorID="0" sortOrder="5" createDate="2013-04-13T09:26:58" updateDate="2013-04-13T09:57:32" nodeName="Dividend Details" urlName="dividend-details" path="-1,1048,1069" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1050">
      <title>Dividend Details</title>
      <description><![CDATA[Dividend Details]]></description>
      <content><![CDATA[<p>Dividend Details</p>]]></content>
    </ContentPage>
    <ContentPage id="1070" parentID="1048" level="2" creatorID="0" sortOrder="6" createDate="2013-04-13T09:27:09" updateDate="2013-04-13T09:57:42" nodeName="Earnings Details" urlName="earnings-details" path="-1,1048,1070" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1050">
      <title>Earnings Details</title>
      <description><![CDATA[Earnings Details]]></description>
      <content><![CDATA[<p>Earnings Details</p>]]></content>
    </ContentPage>
    <ContentPage id="1071" parentID="1048" level="2" creatorID="0" sortOrder="7" createDate="2013-04-13T09:27:22" updateDate="2013-04-13T09:57:50" nodeName="Stock Reports" urlName="stock-reports" path="-1,1048,1071" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1050">
      <title>Stock Reports</title>
      <description><![CDATA[Stock Reports]]></description>
      <content><![CDATA[<p>Stock Reports</p>]]></content>
    </ContentPage>
    <ContentPage id="1082" parentID="1048" level="2" creatorID="0" sortOrder="8" createDate="2013-04-13T16:10:03" updateDate="2013-04-13T16:10:20" nodeName="Contact" urlName="contact" path="-1,1048,1082" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1050">
      <title>Contact</title>
      <description><![CDATA[Contact]]></description>
      <content><![CDATA[<p>Contact us</p>
<p> </p>
<p>email</p>
<p> </p>
<p>phone</p>
<p> </p>
<p>wahatevs</p>]]></content>
      <keywords />
    </ContentPage>
    <SearchPage id="1085" parentID="1048" level="2" creatorID="0" sortOrder="9" createDate="2013-04-13T20:14:19" updateDate="2013-04-13T22:00:11" nodeName="Search" urlName="search" path="-1,1048,1085" isDoc="" nodeType="1084" creatorName="admin" writerName="admin" writerID="0" template="1083">
      <title>Search</title>
      <description><![CDATA[Search]]></description>
      <content><![CDATA[<p class="h1">Search</p>
<p><em>Search for stock name or ASX code.</em></p>]]></content>
      <keywords />
    </SearchPage>
    <StockDetail id="1088" parentID="1048" level="2" creatorID="0" sortOrder="9" createDate="2013-04-13T20:46:24" updateDate="2013-04-13T22:01:12" nodeName="Stock Information" urlName="stock-information" path="-1,1048,1088" isDoc="" nodeType="1087" creatorName="admin" writerName="admin" writerID="0" template="1086">
      <title>Stock Information</title>
      <description><![CDATA[Stock Information]]></description>
      <content><![CDATA[<h1>Stock Detail</h1>
<div>TOOD: make this pretty, format into an info card? add an icon and a chart and bob's your uncle</div>]]></content>
      <keywords />
    </StockDetail>
    <ContentPage id="1089" parentID="1048" level="2" creatorID="0" sortOrder="10" createDate="2013-04-14T10:43:40" updateDate="2013-04-14T10:47:22" nodeName="404" urlName="404" path="-1,1048,1089" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1050">
      <title>Page Not Found</title>
      <description><![CDATA[Page Not Found]]></description>
      <content><![CDATA[<p class="h1">Page Not Found</p>
<p class="h1"> </p>
<p class="normal">Oh whoops... can't find that page anywhere.</p>]]></content>
      <keywords />
    </ContentPage>
    <title>Home</title>
    <description><![CDATA[Fat Dividends]]></description>
    <content><![CDATA[<p class="h1">Computers Elbow Swaps Traders Aside</p>
<p>agittis blandit quis, auctor sit amet est. Proin pulvinar ante metus. Morbi dignissim nisi id risus accumsan malesuada. Donec mi velit, viverra at porta non, consequat sed magna. Sed sollicitudin luctus odio at pharetra.</p>
<p>Integer faucibus, ligula nec scelerisque pellentesque, sapien turpis mollis nunc, eget elementum nunc eros egestas dui. Aenean risus tellus, tempus ut tempor a, rutrum id est. Suspendisse potenti. Phasellus et libero diam, at fermentum erat. Praesent vehicula dui in lacus dignissim ac pretium lectus mattis. Nam vestibulum euismod mi quis tristique. Suspendisse sed risus a est condimentum interdum. Nulla ut metus ac dolor placerat adipiscing. Praesent scelerisque, mi euismod cursus eleifend, urna diam rhoncus felis, eu sollicitudin purus magna eu nisi.</p>
<p>Donec convallis, velit et tristique ferme</p>]]></content>
    <keywords />
    <heroCaption>Photo illustration y 731; trading floor; Jin Lee/Blomberg; Monitors: Oleksiy Maysymenkc</heroCaption>
    <heroImage>1073</heroImage>
  </HomePage>
  <Folder id="1059" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-04-12T09:55:36" updateDate="2013-04-12T09:55:47" nodeName="Config" urlName="config" path="-1,1059" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0">
    <name>Config</name>
    <Folder id="1061" parentID="1059" level="2" creatorID="0" sortOrder="0" createDate="2013-04-12T10:04:47" updateDate="2013-04-12T10:06:19" nodeName="Main Navigation" urlName="main-navigation" path="-1,1059,1061" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0">
      <title>Main Nav</title>
      <LinkItem id="1062" parentID="1061" level="3" creatorID="0" sortOrder="0" createDate="2013-04-12T10:05:28" updateDate="2013-04-12T10:49:15" nodeName="Dividend Investing" urlName="dividend-investing" path="-1,1059,1061,1062" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="0">
        <title>Dividend Investing</title>
        <localHref>1052</localHref>
        <externalHref />
        <isNewTarget>0</isNewTarget>
      </LinkItem>
      <LinkItem id="1064" parentID="1061" level="3" creatorID="0" sortOrder="1" createDate="2013-04-12T10:05:54" updateDate="2013-04-12T10:49:15" nodeName="Earnings Calendar" urlName="earnings-calendar" path="-1,1059,1061,1064" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="0">
        <title />
        <localHref>1054</localHref>
        <externalHref />
        <isNewTarget>0</isNewTarget>
      </LinkItem>
      <LinkItem id="1065" parentID="1061" level="3" creatorID="0" sortOrder="2" createDate="2013-04-12T10:06:09" updateDate="2013-04-13T09:55:08" nodeName="Investment News" urlName="investment-news" path="-1,1059,1061,1065" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="0">
        <title />
        <localHref>1055</localHref>
        <externalHref />
        <isNewTarget>0</isNewTarget>
      </LinkItem>
      <LinkItem id="1067" parentID="1061" level="3" creatorID="0" sortOrder="3" createDate="2013-04-12T10:08:01" updateDate="2013-04-12T10:49:16" nodeName="Investment Calendar" urlName="investment-calendar" path="-1,1059,1061,1067" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="0">
        <title />
        <localHref>1053</localHref>
        <externalHref />
        <isNewTarget>0</isNewTarget>
      </LinkItem>
      <LinkItem id="1066" parentID="1061" level="3" creatorID="0" sortOrder="4" createDate="2013-04-12T10:06:34" updateDate="2013-04-12T10:49:16" nodeName="ASX 200" urlName="asx-200" path="-1,1059,1061,1066" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="0">
        <title>ASX 200</title>
        <localHref />
        <externalHref>http://www.asx.com.au/</externalHref>
        <isNewTarget>1</isNewTarget>
      </LinkItem>
    </Folder>
  </Folder>
</root>