@using uBlogsy.BusinessLogic
@inherits umbraco.MacroEngines.DynamicNodeContext
@{
    <div id="footer">
        <footer>
            <div id="copyright">
                &copy;Fat Dividends | <a href="http://fatdividends.com.au/contact/">Contact</a>
            </div>
        </footer>
    </div>
}
