@using uBlogsy.BusinessLogic
@inherits umbraco.MacroEngines.DynamicNodeContext
@{
    <div id="header">
        <header>
            <a href="/">
                <h1>Fat Dividends</h1>
            </a>
            <p>Bringing the skinny on fat dividends.</p>
        </header>
    </div>
}