@using uBlogsy.BusinessLogic
@inherits umbraco.MacroEngines.DynamicNodeContext
@{
    <div id="header">
        <header>
            <h1>
                <a href="/blog">Fat Dividends Blog</a>
            </h1>
            <h3>Bringing the skinny on fat dividends.</h3>
        </header>
    </div>
}