@using uBlogsy.BusinessLogic
@inherits umbraco.MacroEngines.DynamicNodeContext
@{
    <div id="footer">
        <footer>
            <div id="copyright">
                <a href="/">&copy;Fat Dividends</a> | <a href="/contact/">Contact</a>
            </div>
        </footer>
    </div>
}
