<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace"
          name="Entities" 
         connectionString="data source=C:\inetpub\fatdividends.com.au\wwwroot\App_Data\fattyd.database.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
</configuration>