<div class="tabs widget clear">
    <ul>
        <li class="active" data-tabindex="1">
            <a href="#">
                <h3 class="title">Reporting Dates</h3>
            </a>
        </li>
        <li data-tabindex="2">
            <a href="#">
                <h3 class="title">Dividends Paid</h3>
            </a>
        </li>
    </ul>
    
    <div data-tabindex="1" class="active content">some content for tab 1</div>
    <div data-tabindex="2" class="content">
        some content for tab 2
        <hr/>
        <p>some more content some more content some more content some more content some more content </p>
    </div>

</div>

<div class="clear"></div>

<script type="text/javascript">
    $(function () {
        $('.tabs ul li a').click(function (e) {
            e.preventDefault();
            $('.tabs ul li').removeClass('active');
            $('.tabs ul li a').removeClass('active');
            $('.tabs div.content').removeClass('active');

            var parent = $(this).parent('li');

            parent.addClass('active');
            $(this).addClass('active');

            var tabindex = parent.data().tabindex;

            $('.tabs').find(' div.content[data-tabindex="' + tabindex + '"]').addClass('active');

            return false;
        });
    })

</script>