@using Vega.USiteBuilder
@using umbraco.MacroEngines

@inherits DynamicNodeContext
@{
    var earnings = Fat.Umbraco.Data.EarningRepository.GetLatest(this, 5);

    <div id="earningCalendar" class="widget">
        <section>
            <h3>Earnings Calendar</h3>
            <ul id="earningCalendarEntries">
                @{
                    foreach (var earning in earnings)
                    {
                        <li role="link" class="calendarEntry">
                            <a href="/stock-information/@earning.StockCode">
                                @earning.StockName - @earning.ReportedDate.ToString("dd/MM/yy")
                            </a>
                        </li>
                    }
                }
            </ul>
        </section>
    </div>
}