@using umbraco.MacroEngines

@inherits DynamicNodeContext
@{
    var content = @Vega.USiteBuilder.ContentHelper.GetCurrentContent() as Fat.Umbraco.DocumentTypes.InvestmentNewsPage;
}

<div id="investmentNews">
    <section>
        <div>@Html.Raw(content.Content)</div>
        <ul id="newsEntries">
        </ul>
    </section>
</div>

<script type="text/javascript">
    var fat = fat || {};

    fat.feeds = function () {
        var loadAbc = function() {
            var feed = new google.feeds.Feed("http://www.abc.net.au/news/feed/51892/rss.xml");
            feed.load(onLoaded);
        };
        
        var onLoaded = function (result) {
            if (!result.error) {
                $('#newsItemTemplate').tmpl(result.feed.entries).appendTo('#newsEntries');
            }
        };

        var formatDate = function(date) {
            var value = new Date(date);
            return value.getDate() + '/' + (parseInt(value.getMonth() + 1)) + '/' + value.getFullYear();
        };

        return {
            loadAbc: loadAbc,
            formatDate : formatDate
        };
    };
    
    google.load("feeds", "1");
    google.setOnLoadCallback(fat.feeds.loadAbc);


</script>

<script id="newsItemTemplate" type="text/x-jQuery-tmpl">
    <li class="newsitem"><a href="${link}" target="_blank" title="${title}">
        <div class="title">${title}</div>
        <div class="snippet">${contentSnippet}</div>
        <div class="date">${fat.feeds.formatDate(publishedDate)}</div>
    </a></li>
</script>
