<div id="searchWidget" class="widget">
    <form action="/stock-information" method="GET">
        <h3 class="title">Dividends & Earnings Summary</h3>
        <input type="text" id="code" class="watermark" name="code" value="" />
        <input type="submit" value="Go" />
    </form>
    <div class="clear">
        <a href="/search/">View All</a>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var watermark = 'Enter ASX code';

        $('#code').val(watermark).addClass('watermark');

        $('#code').blur(function () {
            if ($(this).val().length == 0) {
                $(this).val(watermark).addClass('watermark');
            }
        });

        $('#code').focus(function () {
            if ($(this).val() == watermark) {
                $(this).val('').removeClass('watermark');
            }
        });
    })
</script>
